image-gallery-row {

  .rowtable {
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0;
  }

  .photorow {
    width: 100%;
    height: 100%;
  }

  .photocell {
    width: 33%;
    text-align: center;
  }

}
