$icomoon-font-path: "../assets/fonts" !default;

$emo-music: "\f001";
$emo-road: "\f018";
$emo-thumbs-up: "\f087";
$emo-thumbs-down: "\f088";
$emo-heartbeat: "\f21e";
$emo-battery: "\f242";
$emo-thermometer: "\f2c9";
$emo-pencil2: "\e906";
$emo-quill: "\e907";
$emo-pen: "\e908";
$emo-camera: "\e90f";
$emo-dice: "\e915";
$emo-pacman: "\e916";
$emo-spades: "\e917";
$emo-clubs: "\e918";
$emo-diamonds: "\e919";
$emo-bullhorn: "\e91a";
$emo-books: "\e920";
$emo-library: "\e921";
$emo-cart: "\e93a";
$emo-coin-dollar: "\e93b";
$emo-credit-card: "\e93f";
$emo-lifebuoy: "\e941";
$emo-phone: "\e942";
$emo-pushpin: "\e946";
$emo-stopwatch: "\e952";
$emo-display: "\e956";
$emo-mobile: "\e958";
$emo-tv: "\e95b";
$emo-bubbles: "\e970";
$emo-quotes-left: "\e977";
$emo-hour-glass: "\e979";
$emo-binoculars: "\e985";
$emo-key: "\e98d";
$emo-wrench: "\e991";
$emo-hammer: "\e996";
$emo-magic-wand: "\e997";
$emo-bug: "\e999";
$emo-pie-chart: "\e99a";
$emo-stats-dots: "\e99b";
$emo-stats-bars: "\e99c";
$emo-stats-bars2: "\e99d";
$emo-gift: "\e99f";
$emo-glass: "\e9a0";
$emo-alcool: "\e9a1";
$emo-mug: "\e9a2";
$emo-spoon-knife: "\e9a3";
$emo-leaf: "\e9a4";
$emo-bin: "\e9ac";
$emo-airplane: "\e9af";
$emo-accessibility: "\e9b2";
$emo-switch: "\e9b6";
$emo-cloud: "\e9c1";
$emo-eye: "\e9ce";
$emo-eye-blocked: "\e9d1";
$emo-star-empty: "\e9d7";
$emo-star-full: "\e9d9";
$emo-heart: "\e9da";
$emo-heart-broken: "\e9db";
$emo-man: "\e9dc";
$emo-woman: "\e9dd";
$emo-man-woman: "\e9de";
$emo-happy: "\e9df";
$emo-smile: "\e9e1";
$emo-tongue: "\e9e3";
$emo-sad: "\e9e5";
$emo-wink: "\e9e7";
$emo-grin: "\e9e9";
$emo-cool: "\e9eb";
$emo-angry: "\e9ed";
$emo-evil: "\e9ef";
$emo-shocked: "\e9f1";
$emo-baffled: "\e9f3";
$emo-confused: "\e9f5";
$emo-neutral: "\e9f7";
$emo-hipster: "\e9f9";
$emo-wondering: "\e9fb";
$emo-sleepy: "\e9fd";
$emo-frustrated: "\e9ff";
$emo-crying: "\ea01";
$emo-point-up: "\ea03";
$emo-point-right: "\ea04";
$emo-point-down: "\ea05";
$emo-point-left: "\ea06";
$emo-warning: "\ea07";
$emo-cross: "\ea0f";
$emo-checkmark: "\ea10";
$emo-radio-checked: "\ea54";

