page-map-widget {

  .sebm-google-map-container {
    width: 100%;
    height: 100%;
  }

  .scroll-content {
    height: 100%
  }

  sebm-google-map {
    width: 100%;
    height: 100%;
  }

  #buttons-wrapper {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}
